<section class="section" id="task3">
	<div class="container">
		<div class="row justify-content-center txt-bg">
			<div class="col-lg-6 pointer">
				<div class="wow fadeIn section-title text-center mb-4 pb-2">
					<div class="mb-5 pb-3">
						<i class="fas fa-trophy h1 text-muted"></i>
					</div>
					<h2 class="h3 font-weight-bold">{{ taskData["name"] }}</h2>
					<p class="text-muted mx-auto mb-0 mt-4 para-desc">
						{{ taskData["title"] }}
					</p>
				</div>
			</div>
		</div>
		<div class="task-section">
			<div class="task-img">
				<img
					src="assets/images/{{ taskData['image'] }}"
					alt="{{ taskData['name'] }}"
					class="img-fluid"
				/>
			</div>
			<div class="timeline">
				<div
					*ngFor="let k of taskData['keywords']"
					class="wow timeline-box bounceIn{{ k['animationClass'] }}"
					data-wow-delay="0s"
				>
					<div class="timeline-container">
						<h3
							class="keyword-designation text-{{
								k['textAlignment']
							}}"
						>
							{{ k["text"] }}
						</h3>
					</div>
				</div>
				<div id="timeline-divider">
					<div class="timeline-traveller">
						<i class="fas fa-plane font-size-25"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
