#selector {
	height: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50px;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background: #ff9800;
	background: -moz-radial-gradient(ellipse at center, #d68100, #ff9800);
	background: -webkit-radial-gradient(ellipse at center, #d68100, #ff9800);
	background: radial-gradient(ellipse at center, #d68100, #ff9800);
}

small {
	font-size: 80%;
	font-weight: 400;
}
@keyframes animate-positive {
	0% {
		width: 0;
	}
}

.task-img img {
	width: 100%;
}

.timeline {
	position: relative;
	width: 120%;
}

.timeline-box {
	padding: 5px;
	width: 40%;
	min-height: 150px;
	position: relative;
	left: 5%;
	text-align: right;
}
.timeline-box::after {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: #242a35;
	top: 25%;
	border-radius: 50%;
}
.timeline-box:nth-child(2n) {
	left: 55%;
}
.timeline-box:nth-child(2n + 1)::after {
	right: -15%;
}
.timeline-box:nth-child(2n)::after {
	left: -15%;
}
.timeline-container {
	padding-top: 30px;
}
#timeline-divider {
	position: absolute;
	width: 0;
	top: 5%;
	left: calc(50% - 1px);
	border: 1px dashed #000;
	height: 90%;
}
#timeline-divider .timeline-traveller {
	position: sticky;
	top: 135px;
}
#timeline-divider i {
	transform: rotate(90deg);
	margin-top: -35px;
	display: block;
	color: #000;
}

.keyword-designation {
	font-size: 1.2rem;
	color: #242a35;
}

.task-section {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

@media (min-width: 200px) and (max-width: 768px) {
	#task {
		background-size: 55%;
	}
	.task-section {
		flex-direction: column;
	}
	.keyword-designation {
		font-size: 0.8rem;
	}
	.timeline {
		width: 100%;
	}
	.timeline-box:nth-child(2n + 1)::after {
		right: -18%;
	}
	.timeline-box:nth-child(2n)::after {
		left: -17%;
	}
}
@media (min-width: 200px) and (max-width: 768px) {
	.txt-bg-task::before {
		padding-top: 15px;
	}
}
